@import "normalize.css";

:root {
  // Default color
  --primary: #d8b979;
  --black: #000;
  --white: #fff;
  --text-color: #333;

  // Default layout
  --default-layout-header-height: 60px;
  --default-layout-hozirontal-spacer: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@font-face {
  font-family: 'Grandstander';
  src: url("../../assets/fonts/Grandstander-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: 'Grandstander';
  src: url("../../assets/fonts/Grandstander-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: 'Grandstander';
  src: url("../../assets/fonts/Grandstander-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: 'Grandstander';
  src: url("../../assets/fonts/Grandstander-Black.ttf");
  font-weight: 900;
}

@font-face {
  font-family: 'LeagueSpartan Regular';
  src: url("../../assets/fonts/LeagueSpartan-Regular.ttf");
}

body {
  font-family: 'Grandstander', cursive;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  color: var(--text-color);

  .tippy-box {
    font-weight: 600;
    color: var(--black);
    background-color: var(--primary);
  }

  .tippy-arrow {
    color: var(--primary);
  }
}

button, input, [tabindex] {
  font-family: 'Grandstander', cursive;
  outline: none;
  border: none;
  background-color: transparent;
}

input {
  font-family: 'LeagueSpartan Regular', cursive;
}

a[href] {
  color: var(--text-color);
}