@import "normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
  --primary: #d8b979;
  --black: #000;
  --white: #fff;
  --text-color: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Bellota', cursive;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  color: var(--text-color);
}

button, input, [tabindex] {
  font-family: 'Bellota', cursive;
  outline: none;
  border: none;
}

a[href] {
  color: var(--text-color);
}