.wrapper {
  // size
  --search-border-radius: 10px;
  --search-height: 46px;
  --search-top-spacer: 9px;
  --search-button-width: 52px;

  // color
  --icon-color-normal: rgba(22, 24, 35, 0.34);
  --icon-color-active: rgba(22, 24, 35, 0.75);
  --background-color-normal: rgba(22, 24, 35, 0.06);
  --background-color-hover: rgba(22, 24, 35, 0.03);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 9vh;
  box-shadow: 0 1px 1px rgb(0 0 0 / 12%);
  background-color: var(--white);
}

.inner {
  padding: 0 var(--default-layout-hozirontal-spacer);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;

  img {
    height: 50px;
    width: 118px;
  }
}

.action-bar {
  display: flex;
  align-items: center;
}

.action-btn {
  margin-left: 10px;
  padding: 6px;
  background-color: transparent;
  font-size: 2rem;
  cursor: pointer;
}

.user-avatar {
  margin-left: 12px;
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}