.wrapper {
  // size
  --search-border-radius: 10px;
  --search-height: 46px;
  --search-top-spacer: 9px;
  --search-button-width: 52px;

  // color
  --icon-color-normal: rgba(22, 24, 35, 0.34);
  --icon-color-active: rgba(22, 24, 35, 0.75);
  --background-color-normal: rgba(22, 24, 35, 0.06);
  --background-color-hover: rgba(22, 24, 35, 0.03);

  height: 9vh;
  box-shadow: 0 1px 1px rgb(0 0 0 / 12%);
}

.inner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;

  img {
    height: 50px;
    width: 118px;
  }
}

.search-bar,
.search-result {
  width: 360px;
}

.search-bar {
  position: relative;
  height: var(--search-height);
  padding-left: 16px;
  display: flex;
  background-color: var(--background-color-normal);
  border-radius: var(--search-border-radius);
  border: 1.5px solid transparent;

  input {
    flex: 1;
    height: 100%;
    color: var(--black);
    font-size: 1.6rem;
    caret-color: var(--primary);
    background-color: transparent;
  }

  input:not(:placeholder-shown) ~ .search-btn {
    color: var(--icon-color-active);
  }

  &:focus-within {
    border-color: rgba(22, 24, 35, 0.2);
  }

  &::after {
    content: "";
    position: absolute;
    top: var(--search-top-spacer);
    right: var(--search-button-width);
    width: 1px;
    height: calc(var(--search-height) - var(--search-top-spacer) * 2);
    background-color: rgba(22, 24, 35, 0.12);
  }
}

.search-title {
  padding: 5px 12px;
  font-size: 1.4rem;
  font-weight: bold;
  color: rgba(22, 24, 35, 0.5)
}

.search-btn {
  width: var(--search-button-width);
  height: 100%;
  border-top-right-radius: var(--search-border-radius);
  border-bottom-right-radius: var(--search-border-radius);
  font-size: 2rem;
  color: var(--icon-color-normal);

  &:hover {
    cursor: pointer;
    background-color: var(--background-color-hover);
  }

  &:active {
    background-color: var(--background-color-normal);
  }
}

.clear-btn,
.loading {
  position: absolute;
  right: calc(var(--search-button-width) + 16px);
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.8rem;
  color: var(--icon-color-normal);
}

.rsidebar-btn {
  margin-left: 10px;
  padding: 6px;
  background-color: transparent;
  font-size: 2rem;
}